/*primary-color: "#247492";
dark-color: "#054862";
light-color: "#65A4BC";
complement-color: "#E89132";
complement-dark: "#65A4BC";*/

body {
  font-family: "Roboto Condensed";
}

.contact {

}

.blurb {

}

.skills {

}

.education {

}

.projects {

}

.experience {

}

.heading {

}

.skill-list {

}

.project-list {

}